<!doctype html>
<html lang="en">
<link rel="shortcut icon" href="logo.png">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Article</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet"/>
    </head>
  
  <body>
      <!-- Menu - responsive -->
      <nav class="navbar navbar-expand-lg fixed-top" style="background-color:#0491b4">
         <div class="container" style ="height:100px; padding-top:20px">
            <a class="btn btn-login btn-active" href="main.html"><img src="logo.png" alt="logo" style="width:100px; height:100px"/></a>
               <ul class="navbar-nav">
                    <li class="nav-item"><a class="btn btn-login btn-active" href="#">Articles</a></li>
                    <li class="nav-item"><a class="btn btn-login btn-active" href="#footer">Contact</a></li>
                    <li class="nav-item"><a class="btn btn-login btn-active" href="#">Badges</a></li>
                    <li class="nav-item"><a class="btn btn-login btn-active" href="#">Log in</a></li>
                    <li class="nav-item"><a class="btn btn-login btn-active" href="#">Sign in</a></li>
               </ul>
            </div>
      </nav>
      <!-- Article content -->
      <div class="container" style="padding-top:150px; padding-bottom:30px;">
        <img src="img1.png" alt="photo1" class="img-fluid" style="width:100%"/>
  <div class="row" style="padding-top:20px; width:100%">
    <div class="col" style="width:70%">
              <h1>What is Project Management?</h1>
        <h7 style="color:grey">John Dean</h7>
        <br>
        <h8 style="color:grey">23.04.2023</h8>    
        <p style="padding-top:20px; text-align:justify">To understand project management, we must look deeper into what constitutes a project. Essentially, projects are temporary efforts to create value through unique products, services, and processes. Some projects are engineered to quickly resolve problems. Others require extended timelines to produce outcomes that will not need major improvements outside of projected maintenance—like public highways—for example.<br>

Of course, some projects will be a mixture of both these things. This applies to everything from developing new software to planning disaster relief efforts. Still, this is all very general information concerning what a project is. When we break them down more specifically, we see that projects are amalgamations of tasks, activities, and deliverables that must be structured and executed carefully to achieve a desired outcome.<br>

Before an outcome is achieved, each aspect of a project must go through phases of initiation, planning, and execution. This process is known as the project management lifecycle, and it is the lifeblood of successful projects. Moreover, this cycle allows project managers to plan each task and activity meticulously to ensure the highest chances of success. Overall, a project is a well-planned endeavor that follows a lifecycle with a definite beginning and end.</p>

<p style="padding-top:20px; text-align:justify">All projects are a temporary effort to create value through a unique product, service or result. All projects have a beginning and an end. They have a team, a budget, a schedule and a set of expectations the team needs to meet. Each project is unique and differs from routine operations—the ongoing activities of an organization—because projects reach a conclusion once the goal is achieved.<br>

The changing nature of work due to technological advances, globalization and other factors means that, increasingly, work is organized around projects with teams being brought together based on the skills needed for specific tasks.<br>

Leading these projects are Project Professionals—people who either intentionally or by circumstance are asked to ensure that a project team meets its goals. Project professionals use many different tools, techniques and approaches to meet the needs of a project.<br>

Some projects are needed to quickly resolve problems, with an understanding that improvements will be made over a period of time. Other projects have a longer duration and/or produce a product or other outcome that will not need major improvements outside of projected maintenance, such as a highway.<br>

Still others will be a mix of both of these types of projects. Project professionals use a variety of skills and knowledge to engage and motivate others to reach a project’s goals. Project professionals are critical to the success of projects and are highly sought after to help organizations achieve their goals.<br>

For a deeper understanding of what it’s like to manage a project, try Kickoff from PMI, a free, 45-minute digital course and toolkit that guides you through the basics of project management.</p>


    </div>
      <!-- Recommended articles -->
    <div class="col-auto" style="text-align:right; border:1px solid black; width:20%">
              <h4>Recommended Articles:</h4>
                    <h6> Przykładowy artykuł 1</h6>
                  <br>
                  <p style="font-size:12px"> Eum quam harum rem quae praesentium est voluptatem porro! Est numquam fugiat a expedita magni est illo velit!<br>
                     Et quas omnis saut culpa amet eos volupsstatem necessitatibus cum doloribus expedita. </p>
                  <div>
                     <button class="read-more" onclick="switchTab(this.id)">Read more</button>
                  </div>
                  <br>
                    <h6> Przykładowy artykuł 2</h6>
                  <br>
                  <p style="font-size:12px"> Eum quam harum rem quae praesentium est voluptatem porro! Est numquam fugiat a expedita magni est illo velit!<br>
                     Et quas omnis aut culpa amet eos voluptatem necessitatibus cum doloribus expedita. </p>
                  <div>
                     <button class="read-more" onclick="switchTab(this.id)">Read more</button>
                  </div>
                  <br>
                    <h6> Przykładowy artykuł 3</h6>
                  <br>
                  <p style="font-size:12px"> Eum quam harum rem quae praesentium est voluptatem porro! Est numquam fugiat a expedita magni est illo velit!<br>
                     Et quas omnis aut culpa amet eos voluptatem necessitatibus cum doloribus expedita. </p>
                  <div>
                     <button class="read-more" onclick="switchTab(this.id)">Read more</button>
                  </div>
                  <br>
               </div>
          </div>
      </div>
  </body>
  
  <div id="footer" style="background-color:#0491b4; padding:20px; text-align: center; width: 100%">
        <a class="btn btn-login btn-active" href="https://www.datacamp.com"><img src="partner1.png" alt="Logo DataCamp" style="width:250px; height:100px"/></a>
        <a class="btn btn-login btn-active" href="https://swps.pl"><img src="partner2.png" alt="Logo SWPS" style="width:300px; height:100px"/></a>
        <a class="btn btn-login btn-active" href="https://www.coursera.org"><img src="partner3.png" alt="Logo Coursera" style="width:250px; height:100px"/></a>
        <p style="margin-top:20px">SoulsIT Sp.z o.o.</p>
        <p>Chodakowska 19/31, 03-815 Warszawa</p>
      <p>+48 123 456 789 <a href = "mailto: abc@example.com">abc@example.com</a> </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</html>

