<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- link do pliku CSS Bootstrapa -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title></title> 
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="main.html">SoulsIT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Link<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- kontener główny -->
  <div class="container-fluid">
    <div class="row">
      <!-- sidebar -->
      <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Souls</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Chat</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- zawartość strony -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="container mt-5">
          <div class="row">

            <!--sekcja główna-->
            <div class="col-md-9">
              <div class="container mt-5">
                <div class="row flex-column">

                  <!--o uzytkowniku-->
                  <div class="col-md-12">
                    <img src="static/graphic/Image-photo-icon-Graphics-13989898-1.jpg" alt="background photo" class="img-fluid mb-3">
                    <!--<img style="border-radius: 50%" src="static/graphic/Image-photo-icon-Graphics-13989898-1.jpg" alt="profile photo" class="profilowe">-->

                    <div class="container mt-5">
                      <div class="row">
                        <div class="col-md-8">
                          <div class="col-md-12">
                            <!--<img style="border-radius: 50%" src="static/graphic/Image-photo-icon-Graphics-13989898-1.jpg" alt="profile photo" class="profilowe">-->
                            <h1>[User Name]</h1>
                          </div>
                          <!--basic info o uzytkowniku-->
                          <div class="container mt-5">
                            <div class="row flex-column">

                              <div class="col-md-12">
                                <h2>Institutions</h2>
                                  <ul class="list-group">
                                    <li class="list-group-item">Institution 1</li>
                                    <li class="list-group-item">Institution 2</li>
                                  </ul>
                              </div>

                              <div class="col-md-12">
                                <h2>About</h2>
                                <p>[About user]</p>
                              </div>

                              <!-- przycisk do czatu -->
                              <div class="row mt-3">
                                <div class="col-md-12 text-right">
                                  <a href="chat.html" class="btn btn-primary">Text me</a>
                                </div>
                              </div>

                            </div>
                          </div>

                          

                          <!--Projekty i inne-->
                          <div class="col-md-12">
                            <h2>Projects</h2>
                            <div class="container">
                              <div class="row flex-column">
                                <div class="col-md-12">
                                  <h3>Currently working in</h3>
                                  <ul class="list-group">
                                    <li class="list-group-item">Project 1</li>
                                    <li class="list-group-item">Project 2</li>
                                  </ul>
                                </div>
                                <div class="col-md-12">
                                  <h3>Looking for</h3>
                                  <ul class="list-group">
                                    <li class="list-group-item">Specialist 1</li>
                                    <li class="list-group-item">Specialist 2</li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                        <!--badge i inne fun rzeczy-->
                        <div class="col-md-4">
                          <div class="row flex-column">
                            <div class="col-md-4">
                              <h2>Badges</h2>
                                <ul class="list-group">
                                  <li class="list-group-item">Badge 1</li>
                                  <li class="list-group-item">Badge 2</li>
                                </ul>
                            </div>
                          </div>
                        </div>
                      </div>

                    
                    </div>

                  </div>
               </div>
              </div>
            </div>

            <!--sekcja z dodatkowymi informacjami-->
            <div class="col-md-3">
              <div class="cointainer mt-5">
                <div class="row flex-column">
                  <div class="col-md-12">
                    <h2>Status</h2>
                    <p>[status]</p>
                  </div>
                  <div class="col-md-12">
                    <h2>Location</h2>
                    <p>[location]</p>
                  </div>
      
                  <!--skille i technologie-->
                  <div class="col-md-12">
                    <div class="cointainer mt-5">
                      <div class="row">
                        <div class="col-md-6">
                          <h2>Skills</h2>
                          <ul class="list-group">
                            <li class="list-group-item">Skill 1</li>
                            <li class="list-group-item">Skill 2</li>
                            <li class="list-group-item">Skill 3</li>
                          </ul>
                        </div>
                        <div class="col-md-6">
                          <h2>Technologies</h2>
                          <ul class="list-group">
                            <li class="list-group-item">Technology 1</li>
                            <li class="list-group-item">Technology 2</li>
                            <li class="list-group-item">Technology 3</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Learning section-->
                  <div class="col-md-12">
                    <h2>Courses</h2>
                    <div class="container">
                      <div class="row flex-column">
                        <div class="col-md-12">
                          <h3>Currently learning</h3>
                          <ul class="list-group">
                            <li class="list-group-item">Course 1</li>
                          </ul>
                        </div>
                        <div class="col-md-12">
                          <h3>Certificates</h3>
                          <ul class="list-group">
                            <li class="list-group-item">Certificate 1</li>
                            <li class="list-group-item">Certificate 2</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-12">
                    <h2>Finished projects</h2>
                    <ul class="list-group">
                      <li class="list-group-item">Project 1</li>
                      <li class="list-group-item">Project 2</li>
                      <li class="list-group-item">Project 3</li>
                    </ul>
                  </div>
      
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <!-- linki do skryptów JS Bootstrapa -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js